<!-- <nav class="navbar navbar-expand-lg bg-warning d-flex justify-content-end">
    <div class="container-fluid d-flex flex-end">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
                <a class="nav-link active" routerLink="contactus">
                  Contact Us 
                </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="jobs">Jobs</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

   -->

   
   <nav>
   <div class="lists">
    <ul>
      <li class="button1"><a routerLink="home" style="text-decoration: none;color: white;">Home</a></li>
      <li class="button1"><a routerLink="contactus" style="text-decoration: none;color: white;">Contact US</a></li>
      <li class="button1"><a routerLink="jobs" style="text-decoration: none;color: white;">Jobs</a></li>
    </ul>
   </div>
  </nav>
  